header {
 min-height: 130px;
 margin-top: 10px;
}

div.region-header {
  position: relative;
}

div.region-header h1 {
  margin-left: 2.2%;
  margin-top: 0;
}

div.canvassquare canvas {
	padding-left: 0;
  padding-right: 0;
  margin: -20px auto 0 auto;
  padding: 0;
  display: block;
}

  /* Drupal regions */
  div.layout-content {
    margin-top: 0em;
  }

div.region-primary-menu {
  position: relative; /* needed for z-index to work */
  z-index: 1;
  top: 0;
  margin: -25px 4.9% 0px auto; /* position first long menu */
  clear: both; /*clear: both; remove float: right from region-secondary-menu, or clear: right; */;
}
